body {
  margin: 0;
  font-family: 'DM Sans','Poppins','Roboto' sans-serif;
}

.dropdown-toggle::after {
  display: none !important;
}

.form-check-input {
  width: 24px !important;
  height: 24px !important;
}

.react-tabs__tab--selected {
  background-color: transparent !important;
  border: none !important;
  padding: 0;
}

.react-tabs__tab-list { 
  border: none !important;
  margin: 0 !important;
}

.react-tabs__tab {
  bottom: 0 !important;
  padding: 0 !important;
}

/* .dateInput */

.dateInput::-webkit-inner-spin-button,
.dateInput::-webkit-calendar-picker-indicator {
    width: 30%;
     opacity:0;   
    -webkit-appearance: none;
 }

::-webkit-datetime-edit-month-field { color: #84878B; }
::-webkit-datetime-edit-day-field { color: #84878B; }
::-webkit-datetime-edit-year-field { color: #84878B; }
::-webkit-datetime-edit-text { color: #84878B; padding: 0 0.1em; }

.react-tabs__tab--selected::before{
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: #316BFF;
}

.react-tabs {
  margin-top: 30px;
  margin-bottom: 60px;
  border-bottom: 1px solid #E6E8EC;
}

.react-tabs__tab-list {
  padding-bottom: 29px !important;
}

.react-tabs__tab { 
  margin-right: 40px;
}